.main-control {
  display: block;
  @include position(absolute,0 null null null);
  color: #FFFFFF;
  width:100%;
  height:100%;
  .instruction-panel {
      position: absolute;
      top: 20%;
      left: 0;
      height: 33%;
      width: 100%;
      background: url(../img/instruction.svg);
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
  }
  .connect-panel {
      position: absolute;
      top: 32%;
      height: 20%;
      width: 100%;
      background: url(../img/connect.svg);
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
  
  }
   .explanation-panel {
    display: block;
    @include position(absolute,70% null null 50%);
    @include transform(translateX(-50%) translateY(-50%));
    text-align:center;
    width:252px;
    height:32px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 150%;
  }

  .button-connect {
    position:absolute;
    width: 91%;
    height: 8.75%;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #D43755;
    bottom: 11%;
    left:4.5%;
  }
  .button-open {
  @extend .button-connect;
  }
}